# Developer
add-skills.sh
README.weixin.md
# OS
.DS_Store

# Dependencies
## Node.js
node_modules/

# AI
.agents/
.claude/
skills-lock.json

# Compile
## TypeScript
packages/*/lib/
*.tsbuildinfo

# Test & Debug & Run
coverage/
artifacts/
.local/

# Other
## Reference code
references/
