# Developer

# OS
.DS_Store

# Editor
.vscode/

# Dependencies
## Node.js
node_modules/

# AI
.agents/
.claude/
skills-lock.json

# Compile
## TypeScript
packages/*/lib/
*.tsbuildinfo

# Test & Debug & Run
coverage/
.e2e/
artifacts/
.local/

# Other
## Reference code
references/
README.weixin.md
